*.pyc
tags
test
models
.idea
datasets/
scratch/
.ipynb_checkpoints/
.venv-cpu/
.vscode/
notebooks/.ipynb_checkpoints/
train/
train
.venv*/
dist/
*.egg-info/
build/
share/vacuum/model/*.data-*-of-*
share/vacuum/model/model.tar.xz
